
:root {
    --primary-color: red;
    --text-color: white;
    --header-padding: 20px;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 1rem;
}
body{
    width: 100%;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    background-image: url("images/headphones_hero_1.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size:cover;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    height: auto;
}
.hero img{
    
    width: 160px;
    height: auto;
    
}
.hero nav{
    display: flex;
    gap: 20px;
    font-size: 14px;
    color: var(--text-color);
}  
 
header #text{
    width: 60%;
    padding: var(--header-padding);
    text-align: center;
    color: var(--text-color);
}
header #call_to_action{
    background-color: var(--primary-color);
    color:white;
    padding:  15px 30px;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}

.what_we_do{
    width: 100%;
    min-height: 100vh;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.what_we_do  p{
    width: 60%;
}

.what_we_do  ul{
    width: 80%;
    list-style-type: none;
       
    display: flex;
    justify-content: space-between;
    gap: 30px;
    

}
.what_we_do ul li{
    flex: 1;
    max-width: 220PX;
    text-align: center;
    gap: 30px;
   

}
.what_we_do ul li h1{
    text-align: center;
    padding: var(--header-padding);
    margin-bottom: var(--header-padding);
    
}

.result{
    width: 100%;
    padding: var(--header-padding);
    text-align: center;
    background-image: url("images/headphones_hero_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;


    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.result p,
.result h1{
    width: 64%;
    text-align: center;
}

.resultbox{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    gap: 30px;

}

.list{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    background-color: red;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.list h1{
    text-align: center;
    font-size: 3rem;
    padding-bottom: var(--header-padding);
    padding-top: 40%;
}
.list p{
    text-align: center;
    font-size: 0.5rem;
    padding: var(--header-padding);
}
.contact_us{
    width: 100%;
    padding: 10%;
    
}
.contact_us form{
    width: 50%;
    text-align: center;
    
    
}
.footer{
    width: 100%;
    height: 240px;
    background-color: black;
}
.footer image{
    width: 130px;
    height: 30px;
}

.holberton_school-icon-ic_sound{
    font-size: 4rem;
    color: red;
    
}
.holberton_school-icon-ic_music{
    font-size: 4rem;
    color: red;
    
}
.holberton_school-icon-ic_video{
    font-size: 4rem;
    color: red;
    
}
.holberton_school-icon-ic_hearing{
    font-size: 4rem;
    color: red;
    
}






@media(max-width:768px){
    .what_we_do ul{
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .what_we_do ul li{
        flex: 0 0 45%;
    }
}
 .resultbox{
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    



@media(max-width:375px){
     .hero {
        flex-direction: column;
        gap: 20px;
    }

    .hero nav {
        flex-direction: column;
        align-items: center;
    }

    #text {
        width: 100%;
    }
    .what_we_do  ul{
        flex-wrap: wrap;
    }

}
