body, main {
    display: flex;
}
body{
    flex-direction: column;
}
main{
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;
}
aside{
    flex: 1;
    overflow-y: auto;
}
ul{
    list-style: none;
}
header{
    background-color: black;
}
ul a{
    color: aqua;
}
footer{
    background-color: black;
    color:aqua;
}